__pycache__/
*.ipynb_checkpoints
wandb/
*.h5ad
result/
data/norman_k562_hvg_splits.csv
data/replogle_k562_essential_hvg_splits.csv
data/replogle_k562_gwps_hvg_splits.csv
analysis/active_learning/results/
analysis/active_learning/kernels/replogle_k562_essential_hvg
